/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 1. use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. remove default margin */
* {
  margin: 0;
}

/*
typographic tweaks
3. add accessible line-height
4. improve text-rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. create a root stacking context (optional) */
#root,
#__next {
  isolation: isolate;
}

/* define fonts */
@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/static/Outfit-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/static/Outfit-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "young-serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

/* define colors */
:root {
  --clr-primary-nutmeg: hsl(14, 45%, 36%);
  --clr-primary-raspberry: hsl(332, 51%, 32%);
  --clr-neutral-400: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(330, 100%, 98%);
  --clr-neutral-550: hsl(30, 54%, 90%);
  --clr-neutral-600: hsl(30, 18%, 87%);
  --clr-neutral-700: hsl(30, 10%, 34%);
  --clr-neutral-800: hsl(24, 5%, 18%);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "outfit";
  font-size: 1.4rem;
  color: var(--clr-neutral-700);
}

main {
  background-color: var(--clr-neutral-400);
}

.content {
  padding: 0 5%;
}

.hero {
  height: 180px;
  background-image: url(./assets/images/image-omelette.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
}

.heading {
  font-family: "young-serif";
  font-weight: 400;
}

.main-heading {
  color: var(--clr-neutral-800);
  margin-bottom: 1.5rem;
}

.heading-secondary {
  color: var(--clr-primary-nutmeg);
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.heading-third {
  color: var(--clr-primary-raspberry);
}

.preparation {
  background-color: var(--clr-neutral-500);
  padding: 1rem;
  margin: 1.5rem 0 1.75rem;
  border-radius: 1rem;
}

.ingredients,
.instructions,
.nutrition {
  padding-bottom: 2.75rem;
}

.ingredients,
.instructions {
  border-bottom: solid 1px var(--clr-neutral-600);
}

.preparation__list,
.ingredients__list {
  text-indent: 1em;
  line-height: 2rem;
}

.ingredients__list {
  list-style: square;
}

.ingredients__list li::marker {
  color: var(--clr-primary-nutmeg);
}

.instructions__list {
  text-indent: 2em each-line;
}

.instructions__list li {
  padding: 0.5rem 0;
}

.instructions__list li::marker {
  color: var(--clr-primary-nutmeg);
  font-weight: 600;
}

.nutrition__table {
  width: 100%;
  margin-top: 1rem;
}

.nutrition__table td {
  padding: 0.5rem;
}

.nutrition__table tr:not(:last-child) td {
  border-bottom: solid 1px var(--clr-neutral-600);
}

.table-data {
  color: var(--clr-primary-raspberry);
  font-weight: 600;
}

.footer {
  padding: 1rem 0;
}

.footer a:link,
.footer a:visited {
  color: var(--clr-primary-nutmeg);
}

.footer a:hover,
.footer a:active {
  color: var(--clr-primary-raspberry);
  font-weight: 600;
}

@media (min-width: 400px) {
  body {
    background-color: var(--clr-neutral-550);
    font-size: 1.6rem;
  }

  main {
    max-width: 760px;
    padding: 40px;
    margin: 100px 0;
    border-radius: 2rem;
  }

  .hero {
    height: 300px;
    background-size: cover;
    border-radius: 2rem;
    margin-bottom: 3rem;
  }

  .content {
    padding: 0;
  }
}
