:root {
  --clr-primary-400: hsl(225, 100%, 94%);
  --clr-primary-700: hsl(245, 75%, 52%);

  --clr-neutral-400: hsl(225, 100%, 98%);
  --clr-neutral-600: hsl(224, 23%, 55%);
  --clr-neutral-700: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Red Hat Display";
  font-weight: 500;
  line-height: 1.5;

  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content;
  align-items: center;
  justify-items: center;

  background-color: var(--clr-primary-400);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.order {
  width: 330px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.order__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: var(--clr-neutral-600);
}

.order__title {
  font-weight: 900;
  color: var(--clr-neutral-700);
}

.order__description {
  padding: 0 1rem;
}

.order__info {
  display: flex;
  align-items: center;
  background-color: var(--clr-neutral-400);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  gap: 1rem;
}

.order__info p:first-child {
  color: var(--clr-neutral-700);
  font-weight: 900;
}

.order__change:link,
.order__change:visited {
  margin-left: auto;
  color: var(--clr-primary-700);
  font-weight: 700;
  transition: all 0.2s;
}

.order__change:hover,
.order__change:active {
  text-decoration: none;
  opacity: 0.6;
}

.order__btn {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s;
}

.order__btn--cta {
  color: white;
  background-color: var(--clr-primary-700);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
}

.order__btn--cta:hover,
.order__btn--cta:active {
  opacity: 0.7;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.order__btn--cancel {
  color: var(--clr-neutral-600);
  background-color: white;
}

.order__btn--cancel:hover,
.order__btn--cancel:active {
  color: var(--clr-neutral-700);
}

.footer {
  font-size: 12px;
  padding: 1rem 0;
}

.footer a:link,
.footer a:visited {
  color: var(--clr-primary-700);
  transition: all 0.2s;
}

.footer a:hover,
.footer a:active {
  font-weight: 700;
  opacity: 0.7;
}

@media (min-width: 1200px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }

  .order {
    width: 450px;
  }

  .order__content {
    padding: 2rem;
  }
}
